

.vertical-nav
{
    background-color:var(--mainColor);
    height: 100dvb;
    width: 200px;
    font-family:var(--secFont);

}

.vertical-nav .title 
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 40px 40px;
gap: 12px;
}
.vertical-nav .title p
{
text-align: center;
color: white;
font-size: 20px;
font-weight: 700;
}
.vertical-nav .title img
{
    width: 100%;
    height: 100%;
}



.nav-link:hover
{
color: black;
}
.first-cards 
{
    font-family: var(--secFont);
}
.card-features 
{
    font-family: var(--secFont);
}

.content
{
    width: calc(100% - 200px);
    margin-left: auto;
}

.performance-chart
{
   width:50%;
}